<% layout("layouts/boilerplate") %>
<style>
.legal{
    opacity: 0.5;
}
 div h2{
    margin-top: 0.5rem;
}
.card{
    border-radius: 15px;
    border: 1px solid rgba(213, 213, 213, 0.948);
    height: 10rem;
    width: 40rem;
    font-size: 14px;
    padding: 1rem;
    font-weight: 400;
}
</style>
<body>
    <div class="row mt-5">
        <p class="legal"><b>Legal Terms</b></p>
    <h2>Terms of Service</h2>
    <div class="card text-start">
<p>
    If your country of residence or establishment is within the European Economic
    Area (“<b>EEA</b>”), Switzerland or the United Kingdom, the<a href="#"> Terms of Service for European Users</a> apply to you.
If your country of residence or establishment is outside of the EEA, Switzerland,
 Australia, and the United Kingdom, the <a href="#">Terms of Service for Users outside of the EEA, UK,
  and Australia</a> apply to you.

If your country of residence or establishment is in Australia, the<a href="#"> Terms of Service for 
Australian Users </a>apply to you.
</p>

    </div>
    </div>
</body>